<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

    <div fxFlex="40">
      <div fxFlex *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-list>
          <mat-card-title>
            <h3>Comments</h3>
          </mat-card-title>
          <mat-list-item *ngFor="let comment of dish.comments">
            <h4 mat-line>{{comment.comment}}</h4>
            <h4 mat-line>{{comment.rating}} Starts</h4>
            <h4 mat-line>-- {{comment.author}} {{comment.date | date:'mediumDate'}}</h4>
          </mat-list-item>

          <mat-list-item *ngIf="feedbackForm.value.comment || feedbackForm.value.author">
            <h4 mat-line>{{feedbackForm.value.comment}}</h4>
            <h4 mat-line>{{feedbackForm.value.rating}} Starts</h4>
            <h4 mat-line>-- {{feedbackForm.value.author}} {{feedbackForm.value.date | date:'mediumDate'}}</h4>
          </mat-list-item>

          <div class="form-size">
            <h3>Send us your feedback</h3>
            <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-form-field class="full-width">
                  <input matInput formControlName="author" placeholder="Name" type="text" required>
                   <mat-error *ngIf="formErrors.author">
                     <!--Show the error message-->
                     {{formErrors.author}}
                   </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-slider formControlName="rating" thumbLabel min="1" max="5" >ranking</mat-slider>
              </p>
              <p>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12>
                  </textarea>
                  <mat-error *ngIf="formErrors.comment">
                    <!--Show the error message-->
                    {{formErrors.comment}}
                  </mat-error>
                </mat-form-field>
              </p>
              <button type="submit" mat-button class="background-primary text-floral-white"
              [disabled]="feedbackForm.invalid">Submit</button>
            </form>
          </div>
        </mat-list>
      </div>


    </div>

    <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner><h4>Loading... Please Wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
     <h2>Error</h2>
     <h4>{{errMess}}</h4>
    </div>
</div>
